body {
    background-color: black;
}

div#board {
    /* We’re positioning this <div> relative, so that we can
    position everything nested within this <div> relative to it. */
    position: relative;
    width: 1024px;    
    height: 863px;
    margin: auto;
    background: url("Images/Board.jpg") no-repeat;
}

div#messageArea {
    /* We're positioning the message area at the top left of the board. 
    The messageArea <div> is nested inside the board <div>, so its position 
    is specified relative to the board <div>. 0px from the top and 0px from
    the left of the top left corner of the board <div>.*/
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
}

/* We also position the table and the form within the “board” <div> , again
using absolute positions to get these elements precisely where we want them. */

table {
    /* We position the <table> 173 pixels from the left of the board and 98 pixels
    from the top, so it aligns with the grid in the background image. */
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}

td {
    /* Each <td> gets a specific width and height so that the cells of the <table>
    match up with the cells of the grid. */
    width: 94px;
    height: 94px;
}

form {
    /* We’re placing the <form> at the bottom right of the board. */
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}

/* If an element is in the hit class it gets the ship.png image centered in its background.
 If it is in the miss class, it gets the miss.png image . */
.hit {
    background: url("Images/Ship.png") no-repeat center center;
}
.miss {
    background: url("Images/Miss.png") no-repeat center center;
}