<nav>
  <div class="site-title">
    <a href="/">
      <h1>Suppliers Site</h1>
    </a>
    <!-- <p>Alex Site</p> -->
  </div>
  <ul>
    <li><a href="/">Suppliers</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/suppliers/create">New Supplier</a></li>
  </ul>
</nav>