<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>

    <%- include("./partials/nav.ejs") %>

      <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas molestiae consequatur officia ea mollitia rem.
          Quisquam laudantium minima quam accusamus quaerat aperiam optio blanditiis, a reiciendis ad. Quas dolore
          consectetur et ipsum unde, sint autem, provident non laboriosam maxime debitis praesentium? Praesentium magni
          quos nulla fugiat omnis velit et similique, natus dolorem facere quae aperiam ducimus illo dolor enim vel
          veritatis, vero repudiandae, ut eaque dolores saepe. Distinctio vero doloremque sint consequuntur voluptas
          porro animi sit provident pariatur velit ab, beatae consequatur dolore quisquam asperiores, eveniet atque modi
          cum, ipsam unde itaque repudiandae quasi quibusdam laboriosam? Iure deserunt consequatur ex.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas rerum quidem adipisci ratione quam placeat
          deserunt iure laudantium deleniti maiores ex asperiores dignissimos repudiandae qui, consectetur nobis esse
          eos minima nisi? Unde, accusantium officiis nam nihil dolor voluptates atque, minima reiciendis non explicabo
          odit aspernatur, cumque velit perspiciatis quod quo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, autem?</p>
      </div>

      <%- include("./partials/footer.ejs") %>

  </body>

</html>